@import "./_variables.scss";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

// NOTE IN ORDER TO GET YOUR STYLES OT LOAD: TYPE THESE COMMANDS INTO YOUR TERMINAL
// NOTE MAKE SURE YOU CD INTO YOUR CLIENT FOLDER
// run npm i bootstrap
// npm run sass

body, html {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $body-bg;
  overflow: hidden;
}

main {
  flex-grow: 1;
  overflow-y: auto;
  // background-color: skyblue;
}

// BIRD CARD \\

/* width */
::-webkit-scrollbar {
  width: 25px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-image: url('https://www.freepnglogos.com/uploads/eagle-png/bald-eagle-png-transparent-image-pngpix-7.png');
  background-size: contain;
  // border-radius: 10px;
}

.sky {
  background-color: skyblue;
  height: 75vh;
  width: 100vw;
}

.grass{
  background-image: url(https://static.vecteezy.com/system/resources/previews/008/844/676/non_2x/green-grass-banner-background-cartoon-grass-free-free-png.png);
  background-size: contain;
  background-color: green;
  height: 10vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

// NAVBAR //

.birdNav {
  height: 15vh;
  // width: 100vw;
  background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20201015/pngtree-blue-cartoon-sky-background-cloud-image_418494.jpg);
  font-family: IMPOSSIBLE;
}

.navFontSize {
  font-size: 5rem;
}

// BIRD BUTTONS //

.bird-btn {
  border: 2px solid black;
  box-shadow: 2px 2px black;
}

.bird-btn-green {
  background-color: #6dab22;
  border: 2px solid black;
  box-shadow: 2px 2px black;
}

// BIRD CARD //

.birdImage {
  width: 100%;
  // NOTE to make your own 'img-fluid' class.... you need 100% width and whatever desired height
  height: 45vh;
  // object-fit: cover;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
}

// .birdImage:hover {
//   background-image: url(http://cdn.shopify.com/s/files/1/2523/4438/articles/eagle_1_1200x1200.jpg?v=1619704967);
// }

.birdCard {
  border: 4px solid black;
  box-shadow: 18px 7px #f3ff00;
  border-radius: 27px;
}

// .birdCard:hover {
//   background-image: url(http://cdn.shopify.com/s/files/1/2523/4438/articles/eagle_1_1200x1200.jpg?v=1619704967);
// }

// BIRD MODAL //

.birdModalImage {
  height: 45vh;
  width: 100%;
  outline: 1px solid black;
  box-shadow: 6px 7px black;
  border-radius: 10px;
}

// WATCHER //

.watcherImage {
  height: 6vh;
  width: 6vh;
  outline: 1px solid black;
  box-shadow: 4px 1px black,
    3px 3px black;
  border-radius: 50%;
  object-fit: cover;
}


.profilePic {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}




