@import "./_variables.scss";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

// NOTE IN ORDER TO GET YOUR STYLES OT LOAD: TYPE THESE COMMANDS INTO YOUR TERMINAL
// NOTE MAKE SURE YOU CD INTO YOUR CLIENT FOLDER
// run npm i bootstrap
// npm run sass

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
  // background-color: skyblue;
}

// BIRD CARD \\

.birdCard {
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
  border: 1px solid black;
  box-shadow: 1px 1px 1px black;
  .birdCardImage{
    height: 25vh;
    width: 100%;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
  }
}


.profilePic {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}




